boto3
dj_database_url
Django
django-allauth
django-cors-headers
django-daterange-filter
django-environ
dj-rest-auth
django-materializecss-form
django-allauth
django-storages
django-webpack-loader
djangorestframework
gunicorn
Pillow
psycopg2-binary
requests
django-filter